.link
  display: block
  text-decoration: none
  letter-spacing: 1px
  &__hero
    width: 129px
    padding: 27px 38px
    color: #ffffff
    background: $dark-color
    text-transform: uppercase
    text-align: center
    &:hover
      background: $pink
      color: $dark
    &:focus
      background: $pink
      color: $dark
  &__goods
    +roboto-regular
    font-size: 16px
    color: $dark-color
    padding-bottom: 5px
    border-bottom: 1px solid $pink
    align-self: flex-end
  &__features
    +playfair-regular
    font-size: 16px
    color: $dark
    position: relative
    padding-left: 48px
    &::before
      content: ""
      position: absolute
      width: 30px
      height: 1px
      top: 50%
      transform: translateY(-50%)
      left: 0
      background: $pink