.features
  &__list
    list-style: none
    padding: 0
    margin: 0
    display: flex
    justify-content: space-between
    flex-flow: row wrap
    margin-bottom: 77px
  &__item
    display: flex
    align-items: center
    background: $pink-light
    padding-left: 40px
    &:nth-child(1)
      width: 290px
      height: 467px
      margin-right: 40px
      margin-bottom: 40px
    &:nth-child(2)
      width: 680px
      height: 467px
      flex-grow: 2
      margin-bottom: 40px
    &:nth-child(3)
      height: 220px
      flex-grow: 1
      margin-right: 40px
    &:nth-child(4)
      height: 220px
      flex-grow: 1
  &__img-wrapper
    overflow: hidden
    margin: 0
  &__text-wrapper
    height: 100%
    display: flex
    flex-flow: column
    justify-content: space-between
    align-items: start
  &__title
    +playfair-bold
    font-size: 14px
    text-transform: uppercase
    color: #dark
    margin: 0
    margin-top: 40px
    margin-bottom: 17px
  &__price
    +prata
    font-size: 12px