.goods
  &__wrap
    display: flex
    align-items: center
    justify-content: flex-end
    margin: 79px 0 52px 0
    outline: 1px solid red
  &__title
    margin: 0
    +playfair-regular
    font-size: 32px
    color: $dark
  