.menu
  &__btn
    position: relative
    display: block
    width: 18px
    height: 2px
    background: #000
    &::before
      content: ""
      position: absolute
      width: 18px
      height: 2px
      background: #000
      top: -5px
      left: 0
    &::after
      content: ""
      position: absolute
      width: 18px
      height: 2px
      background: #000
      top: 5px
      left: 0
  &--active
        
